<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        No storage permissions are requested. All file access goes through the
        Storage Access Framework (ACTION_OPEN_DOCUMENT / ACTION_CREATE_DOCUMENT),
        which grants scoped, permission-less access to exactly the files the
        user selects.
    -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubtitleExtender">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SubtitleExtender">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
